@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {


:root  {
  --background: 360 0% 95%;
  --foreground: 360 0% 10%;
  --card: 360 0% 90%;
  --card-foreground: 360 0% 15%;
  --popover: 360 0% 95%;
  --popover-foreground: 360 95% 10%;
  --primary: 360 0% 0%;
  --primary-foreground: 0 0% 100%;
  --secondary: 360 10% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 322 10% 85%;
  --muted-foreground: 360 0% 40%;
  --accent: 322 10% 80%;
  --accent-foreground: 360 0% 15%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 360 0% 90%;
  --border: 360 20% 67%;
  --input: 360 20% 50%;
  --ring: 360 0% 0%;
  --radius: 0.5rem;
}
.dark  {
  --background: 360 10% 10%;
  --foreground: 360 0% 90%;
  --card: 360 0% 10%;
  --card-foreground: 360 0% 90%;
  --popover: 360 10% 5%;
  --popover-foreground: 360 0% 90%;
  --primary: 360 0% 0%;
  --primary-foreground: 0 0% 100%;
  --secondary: 360 10% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 322 10% 25%;
  --muted-foreground: 360 0% 65%;
  --accent: 322 10% 25%;
  --accent-foreground: 360 0% 90%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 360 0% 90%;
  --border: 360 20% 50%;
  --input: 360 20% 50%;
  --ring: 360 0% 0%;
  --radius: 0.5rem;
}


}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}